IISCI.Web/obj/*
IISCI.Web/bin/*
TFSRestAPI/obj/*
TFSRestAPI/bin/*
TFSRestAPIConsole/obj/*
TFSRestAPIConsole/bin/*
packages/*
*.suo
/IISCI.Build/obj/Debug
/IISCI.Core/obj/Debug
/IISCI.Build/bin/Debug
/IISCI.Core/bin/Debug
*.user
/IISCI.Git/bin/Debug
/IISCI.Git/obj/Debug
/publish
