@{
    ViewBag.Title = "Index";
}

<h1>
    <span atom-text="{$scope.model.Site}"></span>
    <span 
        atom-type="AtomItemsControl"
        atom-items="{$scope.model.Bindings}">
        <span 
            atom-template="itemTemplate"
            atom-text="{$data.Protocol + ':' + $data.Host}"></span>
    </span>
</h1>

<h2>Applications</h2>

<hr />

<script type="text/javascript">
    ({
        sourceTypes: [
            { label: "Zip Url", value: "zip-url" },
            { label: "TFS", value: "tfs" },
        ]
    })
</script>

<div 
    atom-type="AtomItemsControl"
    atom-items="{AtomPromise.json('/app/virtualdirectories')}">
    <div atom-template="itemTemplate">
        <script type="text/javascript">
            ({
                config:false
            })
        </script>
        <h3>
            <span atom-text="{($scope.itemIndex+1) + ') '+ $data.Path}"></span>
            <button
                atom-event-click="[ { scope: { config: !$scope.config } } ]"
                >Config</button>
            <button>File Manager</button>
            <button>Deploy</button>
        </h3>
        <div 
            atom-type="AtomForm"
            style-display="[$scope.config ? '' : 'none']">
            <h3>Source Control Config</h3>
            <div 
                atom-class="[$data.type]"
                atom-type="AtomFormLayout">
                <div 
                    atom-label="Source:"
                    atom-type="AtomToggleButtonBar"
                    atom-items="{$appScope.sourceTypes}"
                    atom-value="$[data.type]"></div>
                <input 
                    atom-label="Url:"
                    atom-value="$[data.Url]"
                    type="text" />
                <input 
                    atom-label="Username:"
                    atom-value="$[data.Username]"
                    type="text" />
                <input 
                    atom-label="Password:"
                    atom-value="$[data.Password]"
                    type="password" />
                <input 
                    atom-label="Path:"
                    placeholder="Source Control Project Path"
                    atom-value="$[data.SourcePath]"
                    type="text" />
                <span>Path to Project file or Folder for Web Site</span>
                <input 
                    atom-label="Build:"
                    atom-checked="$[data.Build]"
                    type="checkbox" />
            </div>
        </div>
    </div>
</div>