@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/web-atoms/web-atoms.js"></script>
    <link href="~/Scripts/web-atoms/style/atoms.min.css" rel="stylesheet" />
    <link href="~/Content/Site.min.css" rel="stylesheet" />

</head>
<body>
    <div atom-type="AtomApplication">
        <header>
            <h1>IIS Continuous Integration</h1>
        </header>
        @if (!Request.IsSecureConnection)
        {
            <h1 atom-dock="Top" style="height:40px;background-color:red;color:white;">
                !!! Warning - Please do not use this site without SSL
            </h1>
        }
        @RenderBody()
        <footer>
            <a href="http://atomsjs.neurospeech.com"
               target="_blank">Powered by Atoms.js</a>
        </footer>
    </div>
</body>
</html>
